---
import Movement from '@layouts/Movement.astro';
import Prose from '@components/Prose.astro';
import ArrowLeft from '@components/icons/ArrowLeft.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
	const movements: CollectionEntry<'movements'>[] =
		await getCollection('movements');
	return movements.map((movement) => ({
		params: { slug: movement.slug },
		props: { movement: movement },
	}));
}

const { movement } = Astro.props;
const { Content } = await movement.render();
---

<Movement title={movement.data.title} description={movement.data.description}>
	<main class="mx-auto max-w-2xl px-4 py-8">
		<a href="/" class="text-white mb-8 flex gap-x-1 items-center group">
			<ArrowLeft
				className="group-hover:-translate-x-1 transition-transform duration-150"
			/>
			<span>Volver al inicio</span></a
		>
		<Prose>
			<Content />
		</Prose>
	</main>
</Movement>
