---

---

<div
	class="prose dark:prose-invert
  prose-h1:font-extrabold prose-h1:font-inter prose-h2:font-extrabold prose-h2:font-inter
  prose-a:text-blue-600 prose-img:rounded-xl prose-lg prose-p:leading-relaxed"
>
	<slot />
</div>
