---

---

<div
	class="prose dark:prose-invert
  prose-h1:font-semibold prose-h1:font-clash prose-h2:font-semibold prose-h2:font-clash
  prose-a:text-blue-600 prose-img:rounded-xl prose-lg prose-p:leading-relaxed"
>
	<slot />
</div>
