---
import Lens from '@components/icons/Lens.astro';

interface Props {
	movements: Array<{
		title: string;
		href: string;
	}>;
}

const { movements } = Astro.props;
---

<search class="text-white" data-movements={JSON.stringify(movements)}>
	<div class="relative">
		<input
			type="search"
			placeholder="Busca tu ejercicio..."
			class="w-full p-4 pe-12 border rounded-md focus:border-slate-600 focus:ring-2 focus:ring-slate-600 border-slate-800 bg-slate-800/20 block focus:outline-slate-600"
		/>
		<div class="absolute inset-y-0 right-0 flex items-center pr-4">
			<Lens className="size-4" />
		</div>
	</div>

	<p></p>
</search>

<script>
	import Fuse from 'fuse.js';
	const search = document.querySelector('search');
	const movements = JSON.parse(search?.dataset.movements as string);

	console.log(Fuse, 'Fuse');
	console.log(movements, 'movements');

	// const options = {
	// 	keys: ['title'],
	// 	includeMatches: true,
	// 	minMatchCharLength: 2,
	// 	threshold: 0.5,
	// };
	// const fuse = new Fuse(movements, options);
</script>
