---
import SearchBar from '@components/SearchBar.astro';
---

<dialog class="max-w-lg bg-neutral-900 p-4">
	<header class="mb-4">
		<SearchBar results={[]} />
	</header>
	<main class="text-white">Here is the main content</main>
	<footer></footer>
</dialog>
