---
import Search from '@components/Search.svelte';
interface Props {
	searchOptions: Array<{
		title: string;
		href: string;
	}>;
}

const { searchOptions } = Astro.props;
---

<dialog
	class="w-full min-w-[320px] max-w-[90vw] sm:max-w-xl bg-slate-800 p-4 rounded-lg backdrop:fixed backdrop:bg-black/50 backdrop:backdrop-blur-sm max-h-[dvh] border border-slate-700 fixed inset-0 m-auto overscroll-none"
>
	<header class="w-full flex justify-end text-white mb-4">
		<button id="close-button">
			<svg
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-x"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
					d="M18 6l-12 12"></path><path d="M6 6l12 12"></path></svg
			>
		</button>
	</header>
	<main class="">
		<Search movements={searchOptions} client:visible />
	</main>
</dialog>

<script>
	document.querySelector('#close-button')?.addEventListener('click', () => {
		const searchModal = document.querySelector('dialog');
		searchModal?.close();
	});
</script>
