---
import NavigationBar from '@components/NavigationBar.astro';
import '@fontsource-variable/inter';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
	</head>
	<body class="no-scrollbar font-satoshi bg-neutral-950">
		<!-- <div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div
				class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
			>
			</div>
		</div> -->
		<!-- <NavigationBar /> -->
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Satoshi-Variable';
		src: url('../fonts/Satoshi-Variable.woff2') format('woff2');
		font-weight: 300 900;
		font-display: swap;
		font-style: normal;
	}

	@font-face {
		font-family: 'Satoshi-VariableItalic';
		src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2');
		font-weight: 300 900;
		font-display: swap;
		font-style: italic;
	}
	body:has(dialog[open]) {
		overflow: hidden;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
</style>
